@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #00AFF0;
    --secondary-color: #fff;
    --primary-font-color: #fff;
    --secondary-font-color: #27272B;
    --third-font-color: #27272B;
    --fourth-font-color: #f79817;
    --fifth-font-color: #00AFF0;
    --button-color: #00AFF0;
    --secondary-neutral-font-color: #27272B;
    --background-color: #fff;
    --box-shadow: 0px 1px 6px rgba(71, 71, 71, 0.5);
    --secondary-background: #ececec;
    --neutral--background: #ececec;
    --search-bar: #00AFF0;
    --search-bar-font: #fff;
    --search-bar-font2: #27272B;
    --border-color-opacity: rgba(39, 39, 43, 0.2);
    --border-color: #ccc;
}

.dark-theme{
    --primary-color: #292929;
    --secondary-color: #fff;
    --primary-font-color: #fff;
    --secondary-font-color: #f79817;
    --third-font-color: #fff;
    --fourth-font-color: #00AFF0;
    --fifth-font-color: #f79817;
    --button-color: #f79817;
    --box-shadow: 0px 1px 6px rgba(189, 189, 189, 0.5);
    --background-color: #3b3b3b;
    --secondary-background: #2c2c2c;
    --search-bar: #fff;
    --search-bar-font: #27272B;
    --border-color-opacity: rgba(255, 255, 255, 0.2);


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: var(--secondary-background);

}

/* css header*/

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5vw;
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);
    z-index: 99;
    display: flex; 
    justify-content: center;
}
header nav{
    width: 100%;
}

header nav .bottom img{
    height: 4vw;
}
header nav .top img{
    height: 1.3vw;
}

header nav .top{
    width: 90%;
    margin: auto;
    font-size: 0.9vw;
}

header nav .top .list-button{
    float: right;
}

header nav .top .list-button ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
header nav .top .list-button a{
    color: var(--primary-font-color);
    text-decoration: none;
    text-transform: uppercase;
}

header nav .top .list-button a:hover{
    color: var(--secondary-font-color);
    opacity: 80%;
}

header .top .list-button ul li:not(:last-child)::after {
    content: "|";
    margin: 0 1vw;
    color: var(--primary-font-color);
}

header nav .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
    margin: auto;
}


header nav .bottom .logo-name img{
    height: 5vw;
}

header nav .list-button ul{
    list-style: none;
    display: flex;
}

header nav .bottom .search-bar{
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 1.1vw;
    padding: 0.2vw;
    border-radius: 3px;
    color: var(--primary-font-color);
    background-color: var(--secondary-color);
}

header nav .bottom .search-bar span{
    background-color: var(--primary-color);
    padding: 1vw;
    width: 5vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

header nav .bottom .search-bar a{
    color: var(--primary-font-color);
    text-decoration: none;
}

header nav .bottom .search-bar .input-search{
    color: var(--secondary-neutral-font-color);
    border: none;
    font-size: 1.4vw;  
    margin-left: 2vw;
    width: 100%;
    background-color: transparent;
}

header nav .bottom .search-bar .input-search::placeholder{
    color: var(--secondary-neutral-font-color);
}

header nav .bottom .search-bar .input-search:focus {
    outline: none; 
}

header nav .bottom .search-bar .input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    color: black;
}

/* css slider */

main .container-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container-slider .slider{
    position: relative;
    width: 100%;
    height: 25vw;
    margin-top: 1.5vw;
    overflow: hidden;
}

main .container-slider .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0 50%, 0 100%, 0% 100%, 0 50%, 0% 0%);

}
main .container-slider .slider .slide.active{
    clip-path: polygon(100% 0%, 150% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    transition: 1s ease;
}

main .container-slider .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .container-slider .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    opacity: 0;
    height: 50vh;
    transition: opacity .8s ease;

}
main .container-slider .navigation:hover{
    opacity: 1;
}

main .container-slider .navigation .prev-btn,
main .container-slider .navigation .next-btn{
    z-index: 1;
    font-size: 2.5vw;
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1vw;
    cursor: pointer;
}

main .container-slider .navigation .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

main .container-slider .navigation .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
main .container-slider .navigation-visibility{
    z-index: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 25vw;
    align-items: flex-end;
}
main .container-slider .navigation-visibility .slide-icon{
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    width: 1vw;
    height: 1vw;
    margin: 0 1vw;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

main .container-slider .navigation-visibility .slide-icon.active{
    background-color: var(--button-color);
}

/* css categories */

main .container-categories {
    display: flex;
    flex-wrap: wrap;
    color: var(--third-font-color);
    margin-inline: 3%;
    text-align: center;
    margin-top: 1.5vw;
    justify-content: center;
    border: none;
    background-color: var(--background-color);
    padding: 1vw 0;
}

main .container-categories label{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1.3vw;
    text-transform: uppercase;
    padding: 1vw 2vw;
}

main .container-categories .card-categories {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 11vw;
    padding: 1vw 0;
    border: 1px solid var(--secondary-background);
    text-decoration: none;
    color: var(--third-font-color);
}

main .container-categories .card-categories:hover {
    background-color: var(--secondary-background);
}

main .container-categories .card-categories img {
    width: 5vw;
    margin-bottom: 0.5vw;

}

main .container-categories .card-categories p {
    font-size: 1.2vw;
    width: 90%;
}

/* css flash*/

main .container-flash {
    display: flex;
    flex-wrap: wrap;
    color: var(--third-font-color);
    margin-inline: 3%;
    text-align: center;
    margin-top: 1.5vw;
    justify-content: center;
    background-color: var(--background-color);
    padding: 1vw;
}

main .container-flash .horizontal-line{
    width: 100%;
    height: 2px;
    background-color: var(--secondary-background);
    margin-bottom: 1vw;
}

main .container-flash .header-flash {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

main .container-flash .header-flash .container-label{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main .container-flash .header-flash .container-label h1,
main .container-flash .header-flash .container-label .flash-timer{
    font-size: 2vw;
    text-transform: uppercase;
    text-align: left;
    padding: 0.5vw 1vw;
    color: var(--third-font-color);
    font-weight: 800;
}

main .container-flash .header-flash .container-label h1{
    opacity: 80%;
}

main .container-flash .header-flash .container-label .flash-timer{
    display: flex;
    color: var(--third-font-color);
    gap: .5vw;
}

main .container-flash .header-flash .container-label .flash-timer span{
    background-color: var(--button-color);
    padding: 0.5vw 1vw;
    border-radius: 10px;
    color: var(--primary-font-color);
}

main .container-flash .header-flash a{
    text-decoration: none;
    padding: 0.5vw 1vw;
    color: var(--third-font-color);
    font-size: 1.1vw;
}
main .container-flash .header-flash a:hover{
    color: var(--fifth-font-color);
}

main .container-flash .flash-products{
    width: 100%;
    display: flex;
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 1.5vw;
    align-items: flex-start;
    justify-content: space-around;
    border: none;
    margin: auto;
}

main .container-flash .flash-products .card-product{
    color: var(--third-font-color);
    text-decoration: none;
    width: 15vw;
    text-align: left;
    margin: 0.5vw 0;
    /* border: 2px solid var(--secondary-background); */
}

main .container-flash .flash-products .card-product:hover{
    box-shadow: var(--box-shadow);
}

main .container-flash .flash-products .card-product .image-product {
    display: flex;
    justify-content: center; 
}

main .container-flash .flash-products .card-product img{
    width: 15vw;
    height: 15vw;
    padding: 0.5vw;
}

main .container-flash .flash-products .card-product .product-info{
    padding: 1vw;
}

main .container-flash .flash-products .card-product .product-info h2{
    color: var(--fourth-font-color);
    font-size: 2vw;
}
main .container-flash .flash-products .card-product .product-info h3{
    opacity: 80%;
    font-size: 1.5vw;
}
main .container-flash .flash-products .card-product .product-info h5 span{
    opacity: 50%;
    text-decoration: line-through;
    margin-right: 1vw;
    font-size: 1vw;
}

main .container-flash .flash-products .card-product .product-info h5 {
    font-size: 1vw;
}

main .container-flash .flash-products .card-product .product-info h3,
main .container-flash .flash-products .card-product .product-info h2,
main .container-flash .flash-products .card-product .product-info h5 {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /*  (...)  */
}

/* css programs */

main .container-programs {
    margin-top: 1.5vw;
}

main .container-programs .body-programs{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    background-color: var(--background-color);
    border-radius: 10px;
    margin-inline: 3%;
}

main .container-programs .body-programs .card-programs {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: auto;
    width: 33.33%;
    padding: 1vw 0;
    border-right: 2px solid var(--secondary-background); 
    color: var(--third-font-color);
}

main .container-programs .body-programs .card-programs:last-child {
    border-right: none;
}

main .container-programs .body-programs .card-programs img {
    width: 3.5vw;
    margin-bottom: 0.5vw; 
}

main .container-programs .body-programs .card-programs h4 {
    font-size: 1.2vw;
    margin: 0; 
}

main .container-programs .body-programs .card-programs p {
    font-size: 1vw;
    margin: 0; 
}

/* event container */

main .container-event{
    margin-top: 1.5vw;
}

main .container-event img{
    width: 100%;

}


/* popup modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    transition: opacity 0.5s ease;
}

.modal .modal-content {
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 1px solid #888;
    width: 35%; 
    min-width: 350px;
    border-radius: 5px;
}


.modal-content .header-modal{
    width: 100%;
    border-bottom: 1px solid var(--neutral--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.modal-content .header-modal h2{
    font-weight: 800;
    text-transform: uppercase;
    opacity: 80%;
}

.modal-content .body-modal{
    width: 100%;
    padding: 10px;
}

.modal-content .body-modal .input-field{
    border: none;
    font-size: 1.2rem;  
    width: 100%;
}

.modal-content .body-modal .input-field:focus{
    outline: none;
}

.modal-content .body-modal .username,
.modal-content .body-modal .password{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--neutral--background);
    padding: 10px;
}
.modal-content .body-modal .password .fa-solid{
    opacity: 70%;
}

.modal-content .body-modal .password{
    display: flex;
}

.modal-content .body-modal .login-button{
    padding: 10px;
    font-weight: 800;
    color: var(--primary-font-color);
    background-color: var(--button-color);
    margin-top: 15px;
    border-radius: 5px;
}

.modal-content .body-modal .condition{
    width: 100%;
    display: flex;
    margin: 20px auto;
    align-items: center;
}

.modal-content .body-modal .condition .condition-divider{
    width: 100%;
    height: 1px;
    background-color: var(--neutral--background);
}

.modal-content .body-modal .condition p{
    margin-inline: 20px;
    font-size: 0.9rem;
    opacity: 80%;
}

.modal-content .body-modal .forgot,
.modal-content .body-modal .sign-up-button a{
    text-decoration: none;
    margin-inline: 10px;
    color: rgb(29, 29, 212);
    opacity: 60%;
}
.modal-content .body-modal .forgot:hover{
    opacity: 100%;
}

.modal-content .body-modal .social-media{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modal-content .body-modal .social-media img{
    width: 25px;
}

.modal-content .body-modal .social-media .google,
.modal-content .body-modal .social-media .facebook{
    width: 45%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
    justify-content: center;
    border: 1px solid var(--neutral--background);
    gap: 10px;
}

.modal-content .body-modal .sign-up-button {
    margin: 20px 20px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*------SUGGESTIONS-------*/

main .container-suggestions {
    display: flex;
    flex-wrap: wrap;
    color: var(--third-font-color);
    margin-inline: 3%;
    text-align: center;
    margin-top: 1.5vw;
    justify-content: center;
    background-color: var(--background-color);
    padding: 1vw;
}

main .container-suggestions .horizontal-line{
    width: 100%;
    height: 2px;
    background-color: var(--secondary-background);
    margin-bottom: 1vw;
}

main .container-suggestions .header-suggestions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
main .container-suggestions .header-suggestions .header-label{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main .container-suggestions .header-suggestions .header-label h1{
    font-size: 2vw;
    text-transform: uppercase;
    text-align: left;
    padding: 0.5vw 1vw;
    color: var(--third-font-color);
    font-weight: 800;    
    opacity: 80%;
}

main .container-suggestions .header-sort-filter{
    padding: 10px;
    position: relative;
    display: flex;
    width: 100%;
}

main .container-suggestions .header-sort-filter .header-label{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

main .container-suggestions .header-sort-filter .header-label.column h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

main .container-suggestions .header-sort-filter .header-label.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

main .container-suggestions .header-sort-filter .header-label.column .column2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

main .container-suggestions .header-sort-filter .header-label.column .column2 .categories .input-field{
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--border-color-opacity);
}

main .container-suggestions .header-sort-filter .header-label.column .column2 .categories .apply-btn{
    color: var(--primary-font-color);
    background-color: var(--button-color);
    min-width: 150px;
}

main .container-suggestions .header-sort-filter .header-label.column .column2 .categories .separator  {
    padding: 10px 0;
}


main .container-suggestions .header-sort-filter .header-label.column .categories{
    display: flex;
    gap: 10px;
}


main .container-suggestions .header-sort-filter .header-label h3{
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
}

main .container-suggestions .header-sort-filter .header-label button,
main .container-suggestions .header-sort-filter .header-label select{
    padding: 10px;
    border: 1px solid var(--border-color-opacity);
    min-width: 100px;
    color: var(--third-font-color);
    background-color: var(--secondary-background);
}

main .container-suggestions .header-sort-filter .header-label button.active{
    background-color: var(--button-color);
    color: var(--primary-font-color);
}


main .container-suggestions .suggestions-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 1.5vw;
    align-items: flex-start;
    justify-content: space-around;
    border: none;
    margin: auto;
}

main .container-suggestions .suggestions-products .card-product{
    width: 15vw;
    text-align: left;
    margin: 1vw 0;
    text-decoration: none;
    color: var(--third-font-color);
}

main .container-suggestions .suggestions-products .card-product:hover{
    box-shadow: var(--box-shadow);
}

main .container-suggestions .suggestions-products .card-product .image-product {
    display: flex;
    justify-content: center; 
}

main .container-suggestions .suggestions-products .card-product img{
    width: 15vw;
    height: 15vw;
    padding: .5vw;
}

main .container-suggestions .suggestions-products .card-product .product-info{
    padding: 1vw;
}

main .container-suggestions .suggestions-products .card-product .product-info h2{
    color: var(--fourth-font-color);
    font-size: 2vw;
}
main .container-suggestions .suggestions-products .card-product .product-info h3{
    opacity: 80%;
    font-size: 1.5vw;
}
main .container-suggestions .suggestions-products .card-product .product-info h5 span{
    opacity: 50%;
    text-decoration: line-through;
    margin-right: 1vw;
    font-size: 1vw;
}

main .container-suggestions .suggestions-products .card-product .product-info h5 {
    font-size: 1vw;
}

main .container-suggestions .suggestions-products .card-product .product-info h3,
main .container-suggestions .suggestions-products .card-product .product-info h2,
main .container-suggestions .suggestions-products .card-product .product-info h5 {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /*  (...)  */
}

main .container-suggestions .suggestions-products .card-product .product-info .product-rating {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 0 0 0;
}

main .container-suggestions .suggestions-products .card-product .product-info .product-rating i{
    color: yellow;
    
}

main .container-suggestions .suggestions-products .card-product .product-info .sold-count p{
    font-weight: 100;
}

main .container-suggestions .see-more{
    width: 100%;
    padding: 2vw 0 0 1vw;
    display: flex;
    justify-content: center;
}

main .container-suggestions .see-more p{
    width: 30vw;
    padding: 0.7vw;
    text-transform: uppercase;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    font-size: 1.2vw;
    font-weight: 600;
}

main .container-suggestions .see-more p:hover{
    background-color: var(--secondary-background);
}


/*------FOOTER --------*/

footer{
    margin-top: 1.5vw;
}

footer section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    background-color: var(--background-color);
}

footer .second-footer{
    margin-top: 1.5vw;
}

footer .second-footer .logistics,
footer .second-footer .payment,
footer .second-footer .social-media{
    width: 30%;
}

footer .first-footer .description1,
footer .first-footer .description2,
footer .first-footer .description3,
footer .first-footer .customer-service{
    width: 20%;
}


footer .second-footer .logistics .container,
footer .second-footer .payment .container{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw 0;
}

footer .second-footer .social-media .container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

footer .second-footer div p{
    font-size: 1.25vw;
    width: 100%;
    padding: 1vw;
    color: var(--third-font-color);
    opacity: 90%;
}

footer .second-footer .payment img,
footer .second-footer .logistics img{
    width: 6vw;
    height: 4vw;
    background-color: #fff;
    padding: 0.5vw;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
}

footer .second-footer .social-media img{
    padding: 0.1vw;
    width: 3vw;
    height: 3vw;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

footer .copyright{
    color: var(--third-font-color);
    font-size: 1.25vw;
}

footer .first-footer div h3{
    padding: 1vw 0;
    opacity: 80%;
    font-size: 1.2vw;
    color: var(--third-font-color);
    text-transform: uppercase;
}

footer .first-footer div h4{
    padding: 1vw 0;
    opacity: 70%;
    font-size: 1.125vw;
    color: var(--third-font-color);
}

footer .first-footer div h5{
    padding: 0.8vw 0;
    opacity: 70%;
    font-size: 0.95vw;
    color: var(--third-font-color);
}

footer .first-footer div p{
    font-size: 0.9vw;
    color: var(--third-font-color);
    opacity: 80%;
}

footer .first-footer .customer-service a{
    display: block;
    text-decoration: none;
    padding: 0.3vw 0;
    color: var(--third-font-color);
    font-size: 1vw;
}

footer .first-footer .customer-service a:hover{
    color: var(--fifth-font-color);
}

header .mobile-header{
    display: none;
}

main .container-flash .flash-products .end{
    display: none;
}

footer .bottom-menu{
    display: none;
}


/*------ORDER TRACKING PAGE CSS--------*/

main .container-tracking {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 2px;
    justify-content: center;
    background-color: var(--background-color);
    padding: 1vw;

    display: grid;
    grid-template-columns: minmax(280px, 2fr) minmax(280px, 5fr);
    gap: 20px;
}

@media (max-width: 840px) {
    main .container-tracking {
        grid-template-columns: 1fr;
    }
}

main .container-tracking .tracking-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw 1vw 30px 30px;

}

main .container-tracking .tracking-details .tracking {
    position: relative;
    padding: 10px;
    border-left: 1px solid var(--third-font-color);
}

main .container-tracking .tracking-details .tracking .details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 8px;
    gap: 20px;
    position: relative;
}

main .container-tracking .tracking-details .tracking .details::before {
    content: '';
    width: 11px; 
    height: 11px; 
    background-color: var(--third-font-color); 
    border-radius: 50%;
    position: absolute;
    left: -16px; 
    top: 50%;
    transform: translateY(-50%);
}

main .container-tracking .address{
    padding: 10px 20px;
    color: var(--third-font-color);
    width: 100%;
}

main .container-tracking .address h2{
    padding: 1vw 0;
    font-size: 1.5rem;
}

main .container-tracking .address h4{
    padding: 0.5vw 0;
    font-size: 1rem;
}

main .container-tracking .address p{
    font-size: 0.9rem;
    padding: 0.2vw 0;
}

main .tracking-product-details {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 2px;
    background-color: var(--background-color);
    padding: 0 1vw 1vw 1vw;
}

main .tracking-product-details.divider {
    border-bottom: 1px solid var(--border-color-opacity);
}

main .tracking-product-details.divider:last-child {
    border: none;
}

main .tracking-product-details .tracking-shop-name {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 10px 10px;
}

main .tracking-product-details .tracking-shop-name a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--third-font-color);
    opacity: 70%;
    border: 1px solid var(--border-color-opacity);
    padding: 5px;
}

main .tracking-product-details .tracking-shop-name a:hover {
    background-color: var(--secondary-background);
}

main .tracking-product-details .tracking-products {
    text-decoration: none;
    color: var(--third-font-color);
    margin-inline: 1%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--border-color-opacity);
}

main .tracking-product-details .tracking-products .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .tracking-product-details .tracking-products .product-image img {
    width: 70px;
    height: 70px;
}

main .tracking-product-details .tracking-products .product-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .tracking-product-details .tracking-products .product-details .price-and-quantity {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

main .tracking-product-amount {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 2px;
    background-color: var(--background-color);
    padding: 0 1vw 1vw 1vw;
}

main .tracking-product-amount .amount-info {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-items: center;
    gap: 10px;
    border-top: 1px dotted var(--border-color-opacity);
    text-align: right;
}

@media (max-width: 600px) {
    main .tracking-product-amount .amount-info {
        grid-template-columns: 1fr 1fr;
    }
}
main .tracking-product-amount .amount-info:first-child{
    border-top: none;
}

main .tracking-product-amount .amount-info h4 {
    font-size: 0.9rem;
    opacity: 70%;
    font-weight: 400;
}

main .tracking-product-amount .amount-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--fourth-font-color);
}

main .multi-progress-tracking {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 2px;
    background-color: var(--background-color);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .multi-progress-tracking .progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

main .multi-progress-tracking .progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    flex: 1;
}

main .multi-progress-tracking .progress-step .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 5px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--border-color);
    z-index: 1;
}

main .multi-progress-tracking .progress-step.completed .circle {
    border-color: var(--button-color);
    color: var(--button-color);
}

main .multi-progress-tracking .progress-step .label {
    margin-top: 8px;
    color: var(--third-font-color);
    font-size: 14px;
}

main .multi-progress-tracking .progress-step .label2 {
    margin-top: 8px;
    color: var(--third-font-color);
    font-size: 12px;
    opacity: 70%;
}

main .multi-progress-tracking .progress-container::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    height: 5px;
    background-color: var(--border-color);
}

main .multi-progress-tracking .progress-step.completed::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-100%);
    width: 100%;
    height: 5px;
    background-color: var(--button-color);
}

main .multi-progress-tracking .progress-step:first-child::before {
    content: none;
}

main .multi-progress-tracking .progress-step:last-child::before {
    content: none;
}

main .header-tracking {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 1.5vw;
    background-color: var(--background-color);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .header-tracking .header-components{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main .header-tracking .header-components .back-button a{ 
    text-decoration: none;
    color: var(--third-font-color);
    opacity: 70%;
    text-transform: uppercase;
}

main .header-tracking .header-components .back-button a:hover{ 
    opacity: 100%;
}

main .header-tracking .header-components .order-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 35%;
    min-width: 375px;
}   

main .header-tracking .header-components .order-info h1{
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    width: 100%;
    border-right: 1px solid var(--third-font-color);
    text-align: center;
}

main .header-tracking .header-components .order-info h1:last-child{
    color: var(--button-color);
    border: none;
}

main .tracking-button-container {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 2px;
    background-color: var(--background-color);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

main .tracking-button-container.row-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0;
    text-decoration: none;
}

main .tracking-button-container button {
    color: var(--third-font-color);
    background-color: var(--secondary-background);
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    width: 220px;
}

main .tracking-button-container button:hover {
    opacity: 70%;
}

main .tracking-button-container button:first-child {
    background-color: var(--button-color);
    color: var(--primary-font-color);
}

main .product-page-container {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 2px;
    background-color: var(--background-color);
    display: grid;
    position: relative;
    grid-template-columns: minmax(280px, 5fr) minmax(280px, 7fr);
}


@media (max-width: 700px) {
    main .product-page-container{
        grid-template-columns: 1fr;
    }
}

main .product-page-container .product-page-photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

main .product-page-container .product-page-photo img{
    width: 100%;
}

main .product-page-container .product-page-photo .share-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

main .product-page-container .product-page-photo .share-container .share-button img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

main .product-page-container .product-page-description {
    padding: 20px;
}

main .product-page-container .product-page-description .product-ratings{
    padding: 10px 0;
    display: flex;
    gap: 20px;
    position: relative;
}

main .product-page-container .product-page-description .product-ratings .stars {
    color: var(--fourth-font-color);
    display: flex;
}

main .product-page-container .product-page-description .product-ratings .stars p {
    margin-right: 10px;
}

main .product-page-container .product-page-description .product-ratings .ratings,
main .product-page-container .product-page-description .product-ratings .sold-count  {
    display: flex;
    gap: 5px;
}

main .product-page-container .product-page-description .product-ratings .ratings p,
main .product-page-container .product-page-description .product-ratings .sold-count p {
    color: var(--third-font-color);
    opacity: 70%;
}

main .product-page-container .product-page-description .product-ratings .ratings span {
    border-bottom: 1px solid var(--third-font-color);
}

main .product-page-container .product-page-description .product-ratings > div {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

main .product-page-container .product-page-description .product-ratings > div:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--third-font-color); 
    position: absolute;
    right: -10px; 
    top: 0;
}

main .product-page-container .product-page-description .product-amount{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 10px;
    background-color: var(--secondary-background);
}

main .product-page-container .product-page-description .product-amount h3{
    font-weight: 400;
    text-decoration: line-through;
    opacity: 70%;
    font-size: 1rem;
}

main .product-page-container .product-page-description .product-amount h2{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--fourth-font-color);
}

main .product-page-container .product-page-description .product-amount p{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-font-color);
    padding: 3px;
    background-color: var(--fourth-font-color);
    border-radius: 5px;
}

main .product-page-container .product-page-description .product-description{
    padding: 10px 0;
}

main .product-page-container .product-page-description .product-description .product-info{
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
    padding: 10px;
}

main .product-page-container .product-page-description .product-description .product-info .shipping-info{ 
    display: flex; 
    flex-direction: column;
}

main .product-page-container .product-page-description .product-description .product-info .shipping-info .shipping-location,
main .product-page-container .product-page-description .product-description .product-info .shipping-info .shipping-amount{
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin-bottom: 10px;
    gap: 10px;
}

main .product-page-container .product-page-description .product-description .product-info .product-choices-button{ 
    display: flex; 
    gap: 10px;
}

main .product-page-container .product-page-description .product-description .product-info .product-choices-button h4{ 
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    border: 1px solid var(--border-color-opacity);
    font-weight: 300;
}

main .product-page-container .product-page-description .product-description .product-info .product-choices-button h4:hover{ 
    border: 1px solid var(--fourth-font-color);
}

main .product-page-container .product-page-description .product-description .product-info .product-quantity-button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    gap: 20px;
}

main .product-page-container .product-page-description .product-description .product-info .product-quantity-button .border-button{
    border: 1px solid var(--border-color); 
    border-radius: 3px;
    display: flex;
}

main .product-page-container .product-page-description .product-description .product-info .product-quantity-button .border-button button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px; 
    width: 40px; 
    font-weight: 100;
    color: var(--third-font-color);
}

main .product-page-container .product-page-description .product-description .product-info .product-quantity-button .border-button button:focus {
    outline: none;
}

main .product-page-container .product-page-description .product-description .product-info .product-quantity-button .border-button .quantity-input {
    width: 40px; 
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--third-font-color);
}

main .product-page-container .product-page-description .product-description .product-info .product-quantity-button .border-button button.minus-btn {
    border-right: 1px solid var(--border-color); 
}

main .product-page-container .product-page-description .product-description .product-info .product-quantity-button .border-button button.plus-btn {
    border-left: 1px solid var(--border-color); 
}

main .product-page-container .share-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    gap: 15px;
}

main .product-page-container .share-container .share-button img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

main .product-page-container .product-button {
    padding: 10px 20px;
    gap: 10px;
    display: flex;
}

main .product-page-container .product-button button{
    padding: 15px 20px;
    width: 160px;
    cursor: pointer;
    font-size: 0.9rem;
}

main .product-page-container .product-button button:hover{
    opacity: 80%;
}

main .product-page-container .product-button .add{
    color: var(--fourth-font-color);
    border: 1px solid var(--fourth-font-color);
    background-color: var(--background-color);
}

main .product-page-container .product-button .buy{
    color: var(--primary-font-color);
    background-color: var(--fourth-font-color);
    border: 1px solid var(--fourth-font-color);
}

main .seller-container{
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 10px;
    background-color: var(--background-color);
    display: grid;
    position: relative;
    grid-template-columns: minmax(280px, 4fr) minmax(280px, 8fr);
}

@media (max-width: 700px) {
    main .seller-container{
        grid-template-columns: 1fr;
    }
}


main .seller-container .seller-profile{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

main .seller-container .seller-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid var(--border-color-opacity);
}

main .seller-container .seller-profile .seller-status{
    padding: 10px 20px 10px 10px;
    border-right: 1px solid var(--border-color-opacity);
}

main .seller-container .seller-profile .seller-status h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
}

main .seller-container .seller-profile .seller-status p{
    font-size: 0.95rem;
    opacity: 70%;
    margin-bottom: 5px;
}

main .seller-container .seller-profile .seller-status .seller-button{
    display: flex;
    gap: 10px;
    width: 100%;
}

main .seller-container .seller-profile .seller-status .seller-button button{
    padding: 10px;
    font-size: 0.95rem;
    width: 100%;
    background-color: transparent;
}

main .seller-container .seller-profile .seller-status .seller-button button:first-child{
    border: 1px solid var(--fourth-font-color);
    color: var(--fourth-font-color);
}

main .seller-container .seller-profile .seller-status .seller-button button:first-child:hover,
main .seller-container .seller-profile .seller-status .seller-button button:last-child:hover{
    opacity: 70%;
}

main .seller-container .seller-profile .seller-status .seller-button button:last-child{
    border: 1px solid var(--border-color);
    color: var(--third-font-color);
}

main .seller-container .seller-info {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    align-items: center;
}

@media (max-width: 768px) {
    main .seller-container .seller-info {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    main .seller-container .seller-info {
        grid-template-columns: 1fr;
    }
}

main .seller-container .seller-info .info-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 100%;
    padding: 5px;
}

main .seller-container .seller-info .info-column p:first-child{
    opacity: 70%;
}

main .seller-container .seller-info .info-column p:last-child{
    color: var(--fourth-font-color);
}

main .product-full-details{
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 10px;
    background-color: var(--background-color);
    position: relative;
    padding: 20px;
}

main .product-full-details .product-header{
    padding: 15px;
    background-color: var(--secondary-background);
}  

main .product-full-details .product-header h1,
main .product-ratings-container .product-header h1{
    font-size: 1.1rem;
    font-weight: 400;
}

main .product-full-details .product-specification-details{
    padding: 10px 0;
}

main .product-full-details .product-specification-details .details-divider{
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

main .product-full-details .product-specification-details .details-divider p{
    font-size: 0.9rem;
}

main .product-full-details .product-specification-details .details-divider p:first-child{
    opacity: 70%;
}

main .product-full-details .product-details-info{
    padding: 20px;
}

.formatted-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: pre-wrap; /* Ensures text will wrap within the pre element */
}

main .product-ratings-container{
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 10px;
    background-color: var(--background-color);
    position: relative;
    padding: 10px;
}

main .product-ratings-container .product-header{
    padding: 15px;
}

main .product-ratings-container .rating-section{
    display: grid;
    padding: 20px;
    position: relative;
    gap: 10px;
    grid-template-columns: minmax(280px, 2fr) minmax(280px, 10fr);
    background-color: var(--secondary-background);
}

@media (max-width: 700px) {
    main .product-ratings-container .rating-section{
        grid-template-columns: 1fr;
    }
}

main .product-ratings-container .rating-section .rating-star{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--fourth-font-color);
}

main .product-ratings-container .rating-section .rates-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

main .product-ratings-container .rating-section .rates-button button{
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    min-width: 120px;
    border: 1px solid var(--border-color-opacity);
    background-color: transparent;
    color: var(--third-font-color);
}

main .product-ratings-container .rating-section .rates-button button:hover{
    opacity: 70%;
}

main .product-ratings-container .rating-section .rates-button button:first-child{
    border: 1px solid var(--fourth-font-color);
    color: var(--fourth-font-color);
}

main .product-ratings-container .feedback-section .feedback-container{
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 23fr;
    gap: 10px;
    border-bottom: 1px dotted var(--border-color-opacity);
}

main .product-ratings-container .feedback-section .feedback-container:last-child{
    border: none;
}


main .product-ratings-container .feedback-section .feedback-container .user-profile{
    display: flex;
    justify-content: flex-end;
}

main .product-ratings-container .feedback-section .feedback-container .user-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

main .product-ratings-container .feedback-section .feedback-container .feedback-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

main .product-ratings-container .feedback-section .feedback-container .feedback-details p{
    font-size: 0.9rem;
}

main .product-ratings-container .feedback-section .feedback-container .feedback-details p:first-child{
    font-size: 1rem;
}

main .product-ratings-container .feedback-section .feedback-container .feedback-details p i{
    color: var(--fourth-font-color);
}

main .product-ratings-container .feedback-section .feedback-container .feedback-details p span{
    opacity: 70%;
    margin-right: 5px;
}

main .search-filter-container {
    color: var(--third-font-color);
    margin-inline: 3%;
    margin-top: 10px;
    background-color: var(--background-color);
    position: relative;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}













/*------MEDIA QUERIES --------*/

@media screen and (max-width: 425px){
    header nav, footer section{
        display: none;
    }

    header{
        background-color: var(--background-color);
        position: relative;
    }

    header .mobile-header{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0.5vw;
    }
    
    header .mobile-header .search-bar{  
        display: flex;
        align-items: center;
        width: 90%;
        font-size: 3vw;
        padding: 0.5vw;
        border-radius: 50px;
        border: 1px solid var(--search-bar);
        color: var(--search-bar-font);
    }
    header .mobile-header .search-bar span{
        padding: 2vw;
        display: flex;
        border-radius: 50px;
        justify-content: center;
        background-color: var(--search-bar);
    }
    header .mobile-header .search-bar .input-search{
        color: var(--search-bar-font2);
        border: none;
        font-size: 3vw;  
        margin-left: 2vw;
        width: 100%;
        background-color: transparent;
    }
    header .mobile-header .search-bar .input-search::placeholder{
        color: var(--search-bar-font2);
        opacity: 50%;
    }
    header .mobile-header .search-bar .input-search:focus {
        outline: none; 
    }

    header .mobile-header .search-bar .input-search::-webkit-search-cancel-button {
        -webkit-appearance: none;
        color: black;
    }

    main .container-programs .body-programs{
        border-radius: 50px;
    }
    
    main .container-programs .body-programs .card-programs {
        padding: 2vw 0;
    }
    main .container-programs .body-programs .card-programs img {
        width: 8vw;
        margin-bottom: 0.5vw; 
    }
    
    main .container-programs .body-programs .card-programs h4 {
        font-size: 2.8vw;
        margin: 0; 
    }
    
    main .container-programs .body-programs .card-programs p {
        font-size: 2.5vw;
        margin: 0; 
    }

    main .container-flash {
        margin-inline: 0;
    }

    main .container-flash .header-flash .container-label{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    main .container-flash .header-flash .container-label h1,
    main .container-flash .header-flash .container-label .flash-timer{
        font-size: 3.3vw;
        text-transform: uppercase;
        text-align: left;   
        padding: 1vw 3vw;
        color: var(--secondary-font-color);
        font-weight: 800;
        opacity: 100%;
    }

    main .container-flash .header-flash .container-label .flash-timer span{
        background-color: transparent;
        color: var(--secondary-font-color);
        opacity: 80%;
        padding: 0 0.5vw;
    }

    main .container-flash .header-flash a,
    main .container-flash .horizontal-line,
    main .container-suggestions .horizontal-line{
        display: none;
    }

    main .container-flash .flash-products{
        overflow-x: auto;
        gap: 1vw;
    }

    main .container-flash .flash-products::-webkit-scrollbar{
        height: 0;
    }
    main .container-flash .flash-products .card-product{
        width: 30vw;
    }
    
    main .container-flash .flash-products .end{
        display: block;
    }

    main .container-flash .flash-products .card-product .see-more{
        width: 30vw;
        height: 42vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--button-color);
        gap: 2vw;
        color: var(--button-color);
    }
    main .container-flash .flash-products .card-product img{
        width: 30vw;
        height: 30vw;
        padding: 0.5vw;
    }
    
    main .container-flash .flash-products .card-product .product-info h2{
        font-size: 3.5vw;
    }
    main .container-flash .flash-products .card-product .product-info h3{
        font-size: 2.5vw;
    }
    main .container-flash .flash-products .card-product .product-info h5 span{
        font-size: 2.3vw;
    }
    main .container-flash .flash-products .card-product .product-info h5 {
        font-size: 2.3vw;
    }

    main .container-suggestions {
        margin-inline: 0;
        background: linear-gradient(to bottom, var(--background-color) 5%, transparent 10%);
    }
    

    main .container-suggestions .header-suggestions .header-label h1{
        font-size: 3.3vw;
        opacity: 100%;
        padding: 3vw 3vw;
    }
    
    main .container-suggestions .suggestions-products .card-product{
        width: 45vw;
        background-color: var(--background-color);
    }

    main .container-suggestions .suggestions-products .card-product img{
        width: 45vw;
        height: 45vw;
        padding: 1vw;
    }
    main .container-suggestions .suggestions-products .card-product .product-info {
        padding: 2vw;
    }

    main .container-suggestions .suggestions-products .card-product .product-info h2{
        font-size: 3.5vw;
    }
    main .container-suggestions .suggestions-products .card-product .product-info h3{
        font-size: 2.5vw;
    }
    main .container-suggestions .suggestions-products .card-product .product-info h5 span{
        font-size: 2.3vw;
    }
    main .container-suggestions .suggestions-products .card-product .product-info h5 {
        font-size: 2.3vw;
    }

    main .container-suggestions .see-more p{
        width: 90%;
        padding: 2vw;
        font-size: 2.8vw;
    }
    
    main .container-categories {
        padding: 1vw 1vw 5vw ;
        margin-inline: 0;
    }

    main .container-categories label{
        font-size: 3.3vw;
        padding: 3vw;
        font-weight: 600;
    }

    main .container-categories .card-categories {
        width: 23vw;
        border: none;
    }
    main .container-categories .card-categories img {
        width: 10vw;
    }

    main .container-categories .card-categories p {
        font-size: 2.5vw;
    }

    footer .bottom-menu{
        position: fixed;
        bottom: 0;
        display: block;
        width: 100%;
        background-color: var(--primary-color);
    }

    footer .bottom-menu .container-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    footer .bottom-menu .container-menu ul{
        padding: 1vw;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
    }
    
    footer .bottom-menu .container-menu li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer .bottom-menu .container-menu li img {
        width: 6vw;
        margin-bottom: 0.5vw; 
    }
    
    footer .bottom-menu .container-menu li p {
        font-size: 2.5vw;
        color: var(--primary-font-color);
        margin: 0;
    }
    

    main {
        margin-bottom: 60px;
    }

}