.vector-icon5 {
  width: 42px;
  position: relative;
  height: 43px;
}
.clock-solid-1 {
  position: absolute;
  top: 49px;
  left: calc(50% - 149.5px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.thank-you-for {
  position: relative;
}
.thank-you-for-your-purchase-wrapper {
  position: absolute;
  width: 25.72%;
  top: 47px;
  right: 33.19%;
  left: 41.09%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: var(--color-orange);
}
.span1 {
  font-size: var(--font-size-xl);
}
.div42 {
  position: absolute;
  height: 5.94%;
  width: 7.04%;
  top: 44.22%;
  left: 48.22%;
  display: inline-block;
  font-size: var(--font-size-mini);
}
.your-order-number {
  margin: 0;
}
.your-order-number-container {
  position: absolute;
  height: 5.94%;
  width: 24.07%;
  top: 64.03%;
  left: 42.14%;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.clock-solid-1-parent {
  position: absolute;
  width: 79.93%;
  top: 57px;
  right: 10%;
  left: 10.07%;
  background-color: var(--color-white);
  height: 303px;
  overflow: hidden;
}
.please-have-this-container {
  position: absolute;
  height: 100%;
  width: 51.39%;
  top: 0;
  left: 48.61%;
  display: inline-block;
}
.frame13 {
  position: absolute;
  width: 46.83%;
  top: 48.9px;
  right: 33.8%;
  left: 19.37%;
  height: 25.9px;
  overflow: hidden;
}
.your-delivery-dates {
  position: absolute;
  height: 100%;
  width: 92.36%;
  top: 0;
  left: 7.64%;
  display: inline-block;
}
.frame14 {
  width: 13.64%;
  top: 131.3px;
  right: 66.99%;
  left: 19.37%;
  height: 25.2px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.div43,
.frame14,
.frame15 {
  position: absolute;
}
.div43 {
  height: 100%;
  width: 19.29%;
  top: 0;
  left: 80.71%;
  display: inline-block;
}
.frame15 {
  width: 36.92%;
  top: 81.9px;
  right: 43.7%;
  left: 19.37%;
  height: 33.1px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-orange);
}
.flashsale-bag-3-icon {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 50px;
  height: 56px;
  object-fit: cover;
}
.est-24may-24-may {
  position: absolute;
  height: 15.31%;
  width: 17.28%;
  top: 25.72%;
  left: 77.99%;
  display: inline-block;
}
.my-account {
  font-size: var(--font-size-sm);
}
.turn-on-your-container {
  position: absolute;
  height: 15.31%;
  width: 83.55%;
  top: 71.52%;
  left: 2.12%;
  color: var(--color-dimgray-200);
  display: inline-block;
}
.flashsale-bag-3-parent,
.view-order-wrapper {
  position: absolute;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.view-order-wrapper {
  width: 13.04%;
  top: 93px;
  right: 3.19%;
  left: 83.77%;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-sm);
}
.flashsale-bag-3-parent {
  height: 27.83%;
  width: 62.64%;
  top: 32.25%;
  right: 17.98%;
  bottom: 39.92%;
  left: 19.37%;
  overflow: hidden;
}
.envelope-regular-1-icon {
  position: absolute;
  width: 3.05%;
  top: 13px;
  right: 95.15%;
  left: 1.8%;
  max-width: 100%;
  overflow: hidden;
  height: 17px;
}
.weve-sent-a {
  position: absolute;
  height: 50.45%;
  width: 83.55%;
  top: 28.86%;
  left: 7.12%;
  display: inline-block;
}
.envelope-regular-1-parent {
  position: absolute;
  height: 8.45%;
  width: 62.64%;
  top: 62.38%;
  right: 17.98%;
  bottom: 29.17%;
  left: 19.37%;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  color: var(--color-dimgray-200);
}
.order-summary1 {
  position: absolute;
  height: 23.85%;
  width: 16.92%;
  top: 11.01%;
  left: 2.08%;
  font-size: var(--font-size-mini);
  display: inline-block;
}
.div44,
.frame-child21 {
  position: absolute;
  top: 19.27%;
}
.div44 {
  height: 30.37%;
  width: 11.37%;
  left: 82.66%;
  color: var(--color-orange);
  display: inline-block;
}
.frame-child21 {
  height: 6.42%;
  width: 1.66%;
  right: 4.02%;
  bottom: 74.31%;
  left: 94.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shop-more-wrapper {
  position: absolute;
  width: 17.06%;
  top: 52px;
  right: 40.36%;
  left: 42.58%;
  border-radius: 6px;
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  color: var(--color-white);
}
.order-summary-parent {
  position: absolute;
  height: 20.92%;
  width: 62.64%;
  top: 73.13%;
  right: 17.98%;
  bottom: 5.95%;
  left: 19.37%;
  background-color: #f3f0f0;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.frame-parent {
  position: absolute;
  width: 79.93%;
  top: 378px;
  right: 10%;
  left: 10.07%;
  background-color: var(--color-white);
  height: 521px;
  overflow: hidden;
  font-size: var(--font-size-xs);
}
.ordered {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
